<td colspan="3" id="theShit">
<div id="detailView">
  <table>
    <tr>
      <td><label>Name:</label></td>
      <td>
      <input type="text" class="nameTextbox" id="nameTextbox" value="<%= name %>">
      </td>
    </tr>
    <tr>
      <td><label>Quantity:</label></td>
      <td>
      <input type="text" class="quantityTextbox" id="quantityTextbox" value="<%= quantity %>">
      </td>
    </tr>
    <tr>
      <td><label>Description:</label></td>
      <td><textarea class="descriptionTextarea" id="descriptionTextarea"><%= description %></textarea></td>
      <td><input type="button" id="save" value="Save" /></td>
    </tr>
  </table>
</div></td>